<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Chat</title>
</head>
<body>
    <div class="container">
        <a href="/" class="btn btn-primary">Home</a>
        <a href="/logout" class="btn btn-primary">Sair</a>
        <form id="chat" style="color: aliceblue;">
            <h1>Usuario</h1>
            <input type="text" name="username" placeholder="Digite seu nome..."><br>
            <div class="messages"></div>
            <input type="text" name="message" placeholder="Digite sua mensagem..."><br>
            <button class="btn btn-primary" type="submit">Enviar</button>
        </form>
    </div>
    

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.min.js" integrity="sha512-Jq1JnVXlkYQOYQpz31qIV/0l67d97J9I6sbILtfiSYX00Isr2zK7XDRmHW8d2iBTwNZfL7sHkHGT0EzLs90jdw==" crossorigin="anonymous"></script>
<script type="text/javascript">
    var socket = io('http://localhost:3008');///URL da api

    function renderMessage(message){
        console.log(message);
        $('.messages').append('<div class"message"><strong>'+message.autor+'</strong>:'+message.conteudo+'</div>')
    }

    socket.on('previousMessages',(messages)=>{
        for(message of messages){
            renderMessage(message);
        }
    });

    socket.on('receivedMessage', function(message){
        renderMessage(message);
    });

    $('#chat').submit(function(event){

        event.preventDefault();

        var autor = $('input[name=username]').val();
        var conteudo = $('input[name=message]').val();

        if(autor.length && conteudo.length){
            var messageObject = {
                conteudo: conteudo,
                autor: autor
            };
            renderMessage(messageObject);
            socket.emit('sendMessage', messageObject);
        }

    })
</script>
</body>
</html>